html{
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
}

.main{
    display: block;
}

.background {
    position: relative;
    z-index: -1;
}

.buttons{
    position:absolute;
    width: 20vw;
    height: 20vh;
    cursor: pointer;
    display: flex;
    z-index: 1;
    padding-left: 5vw;
    gap: 70vw;
}

.sprite{
    position: absolute;
    left: 50vw;
    top: 50vh;
    
}

#leftarrow{
    transition: transform 0.25;
}
#rightarrow{
    transition: transform 0.25;
}

#leftarrow:active{
    transform: scale(1.25);
}

#rightarrow:active{
    transform: scale(1.25);
}

#strata {
    width: 100%;
    height: 100%;
    object-fit: fill;
}